
# mysql://username:password@tcp(host:port)/db_name
# sqlite://db_path
database = ""

# lotus node contains client private key
node = "127.0.0.1:1234"

# lotus node rpc token from ~/.lotus/token
token = "eyjh..."


[market]

## SP set this true to import files
enable = false

# SP address
miner = "miner"

# market node token, ~/.lotusminer/token
token = "token"

# market rpc 
rpc = "127.0.0.1:2345"

# directory store car files
car_dir = "cair_dir"


import_wait = 40
