
# mysql://username:password@tcp(host:port)/db_name
# sqlite://db_path
database = ""

# lotus node contains client private key
node = "127.0.0.1:1234"

# lotus node rpc token from ~/.lotus/token
token = "eyjh..."

[car]

enable = true

# directory store origin files
chrunk_dir = "/origin_dir"

# directory store car files
car_dir = "/car_dir"

#  task thread count
thread = 1

# min size (MB)
size = 17000

[deal]

eanble = true

# SP address
miner = "miner"

# sp market address
node = "node"

# client address
client = "clientaddr"

# sp datacap use limit
datacap = 15000

# deal duration
duration = 528

# 
deal_wait = 1200

# pending deals limit
pending_limit = 50

# is verified deal
verified_deal = false
